<!DOCTYPE HTML>
<html>
<head><title>JetFuel - User</title>
  <style>
    body{
      padding: 0px;
      margin: 0px;
    }
    .top{
      width: 100%;
      background-color: orange;
      margin-top: 0px;
      padding: 15px;
      border-bottom: 0px solid black;
    }
    .top_stuff{
      color: black;
      font-family: serif;
      display: inline;
      margin: 0px;
      padding: 4px;
      position: absolute;
      top: 20px;
      right: 10px;
      width: 200px;
    }
    .top_stuff label{
      font-size: 120%;
    }
    .top_stuff input{
      width: 100px;
    }
    h1{
      margin: 0px;
      padding: 0px;
    }
    h1 a{
      color: black;
      font-family: serif;
      font-size: 120%;
    }
    #main{
      width: 80%;
      margin: auto;
    }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
  </script>
</head>
<body>
  <div class="top">
    <h1><a href="http://jetfuel.herokuapp.com">JetFuel</a></h1>
    <h2 class="top_stuff">Hi User: <%= @user.name %></h2>
  </div>

  <div id="main">
    <form method="POST" action="/user_shorten/<%= @user.name %>"> <p>Shorten your link:</p>
      <label>Url:</label>
      <input type="text" name="url" />
      <label>Vanity:</label>
      <input type="text" name="vanity" />
      <input type="submit" name="shorten" value="Shorten" id="shorten_button"/>
    </form>

    <ul>
      <% @user_links.each do |link|%>
        <li><%= link.full_url %>
          was shortened to 
          <a href="http://<%= link.short_url %>"><%= link.short_url %></a>
        </li>
      <% end %>
    </ul>
  </div>

</body>
<script type="text/javascript">
  $(document).ready(function() {
      var randClr = '#'+Math.floor(Math.random()*16777215).toString(16);
      $('.top').css("background-color", randClr);
      $('.top').click(function(){
        var randClr = '#'+Math.floor(Math.random()*16777215).toString(16);
      $('.top').css("background-color", randClr);
      });
  });
</script>
</html>
